{% extends 'base.html' %}
{% load static %}

{% block scripts %}
     <script src = "{% static 'quiz.js' %}" defer>

</script>

{% endblock scripts %}



{% block title %}
You are in
{{obj.name}} page.
{% endblock title %}


{% block content %}

     <p style="text-align:center;color:blue;font-weight:bold;font-size:1.4rem;">You are in <span style="color:crimson;font-weight:bold;font-size:1.4rem;" >{{obj.name}}   </span>
page.</p>
<p style="text-align:center;color:purple;font-weight:bold;font-size:1.4rem;">Required score to pass<span style="color:green">
"{{obj.required_score_to_pass}}"!</span></p>
<div style="text-align:center;color:blue;font-weight:bold;font-size:1.4rem;" id="timer-box"></div>
<div style="text-align:right;">
<a href="{% url 'quizzes:main-view' %}" style="text-align:center;" class="btn btn-danger">Go back</a>
     </div>
<hr>

<form id ='quiz-form' class ='mt-3 mb-3'>
     {% csrf_token %}
<div id ='quiz-box'></div>
     <button type = 'submit' class = 'btn btn-primary mt-3'>Save</button>
</form>
<div id="score-box"></div>
<div id="result-box"></div>
{% endblock content %}
